#--------------------------------------------------------------------
# Copier ce fichier en ".env" (non versionne) et l'adapter.
#--------------------------------------------------------------------

# development | production | testing
CI_ENVIRONMENT = development

app.baseURL = 'http://localhost:8080/'

database.default.hostname = localhost
database.default.database = regiomlh_prod
database.default.username = root
database.default.password = root
database.default.DBDriver = MySQLi
database.default.port = 3306

# --- Application (voir app/Config/Travaux.php) ---
travaux.civilYear = '2025-2026'
travaux.apiKey = 'changeme'
travaux.passwordSalt = 'changeme'
travaux.captcha = false
travaux.siteCaptchaKey = ''
travaux.siteCaptchaSecretKey = ''
travaux.mailFromEmail = 'noreply@example.com'
travaux.mailFromName = 'ABCM Mulhouse-Lutterbach'
travaux.mailReplyTo = ''

# --- E-mail (Config\Email) ---
email.protocol = smtp
email.SMTPHost = smtp.example.com
email.SMTPPort = 587
email.SMTPUser = ''
email.SMTPPass = ''
email.SMTPCrypto = tls
email.mailType = html
