#--------------------------------------------------------------------
# Copier ce fichier en ".env" (non versionne) et l'adapter.
#--------------------------------------------------------------------

# development | production | testing
CI_ENVIRONMENT = development

app.baseURL = 'http://localhost:8080/'

database.default.hostname = localhost
database.default.database = regiomlh_prod
database.default.username = root
database.default.password = root
database.default.DBDriver = MySQLi
database.default.port = 3306

# Cle de chiffrement (php spark key:generate)
# encryption.key =
