

h1 {
	color: #444;
	background-color: transparent;
	border-bottom: 1px solid #D0D0D0;
}


h2{
	color: #444;
	font-size: 18px;

}


h3{
	color: #444;
	font-size: 14px;
}

h4{
	color: #444;
	font-size: 12px;
	margin:0;
	padding:0;
}

code {
	font-family: Consolas, Monaco, Courier New, Courier, monospace;
	font-size: 10px;
	background-color: #f9f9f9;
	border: 1px solid #D0D0D0;
	color: #002166;
	display: block;
	margin: 14px 0 14px 0;
	padding: 12px 10px 12px 10px;
}

.padding160{
	padding-left:160px;
}


p.footer {
	text-align: right;
	font-size: 11px;
	border-top: 1px solid #D0D0D0;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

body {
	background:#f9f9f9;
	overflow-x: hidden;		
    margin:0;
}
 

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    width: 100%;
	align-items: stretch;
}

#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
    min-height: 100vh;   
    background-color: #333;
    padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}

/*
* Sidebar
*/

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}


/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}

#sidebar-container .list-group .collapse-text {
    padding-left: 10px;
}

.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}
.sidebar-separator {
    background-color: #333;
    height: 25px;
}
.logo-separator {
    background-color: #333;    
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.title {
	display: block;
    padding: .5rem 1rem;
	color: #fff;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.5;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
	transition: all 0.3s;
}

tr.clickable-row:hover
{
    cursor: pointer; 
    background-color: rgb(238, 248, 222);
}